* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.fb_icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  -webkit-mask: url(../img/fb.svg) no-repeat center;
  mask: url(../img/fb.svg) no-repeat center;
}
.fb_icon.red {
  background-color: #E30613;
}

.ig_icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  -webkit-mask: url(../img/ig.svg) no-repeat center;
  mask: url(../img/ig.svg) no-repeat center;
}
.ig_icon.red {
  background-color: #E30613;
}

.yt_icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  -webkit-mask: url(../img/yt.svg) no-repeat center;
  mask: url(../img/yt.svg) no-repeat center;
}
.yt_icon.red {
  background-color: #E30613;
}

.arrow {
  width: 0.625rem;
  height: 0.5rem;
  background-color: #E30613;
  -webkit-mask: url(../img/arrow.svg) no-repeat center;
  mask: url(../img/arrow.svg) no-repeat center;
}

.link_button {
  display: flex;
  align-items: center;
  color: #E30613;
  font-size: 0.875rem;
  font-weight: 700;
}
.link_button .arrow {
  margin-right: 0.5rem;
}

.stretched_link {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

header {
  background: #E30613;
  color: #fff;
  height: 5rem;
  z-index: 20;
  position: relative;
}

.header_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem;
}
.header_container .logo_container {
  transform: translateY(0.75rem);
}
.header_container .logo_container img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.header_container .logo_container .club_name {
  display: none;
}

.header_nav {
  position: fixed;
  right: 0;
  top: 5rem;
  background: #E30613;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  transform: translateY(calc(-100% - 5rem));
}
.header_nav.active {
  transform: translateY(0);
}
.header_nav .social_icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav_links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.burger {
  padding: 0.5rem;
  cursor: pointer;
}
.burger div {
  width: 2rem;
  height: 3px;
  background: #fff;
  margin: 0.6rem 0;
  border-radius: 2rem;
  transition: all 0.1s ease-in;
}

.burger.active div:nth-child(1) {
  transform: translateY(0.4rem) rotate(45deg);
}
.burger.active div:nth-child(2) {
  display: none;
}
.burger.active div:nth-child(3) {
  transform: translateY(-0.4rem) rotate(-45deg);
}

.bg_top {
  display: none;
}

.top_article {
  position: relative;
  height: 16.5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.top_article::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
  transition: all 0.1s ease-out;
  z-index: 1;
}
.top_article .main_img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top_article.primary .content span {
  font-size: 0.875rem;
}
.top_article.secondary .content .link_button {
  font-size: 0.75rem;
}
.top_article.secondary .content span {
  font-size: 0.75rem;
}
.top_article .content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 1.5rem 0.75rem;
}
.top_article .content h2, .top_article .content h5 {
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 1.25;
}

.hp_matches_container {
  padding: 2rem 0.75rem;
}

/*# sourceMappingURL=styles.css.map */
