footer {
    background: $primaryRed;
    color: $white;
    position: relative;

    .star_bg {
        display: none;
    }
}

.footer_container {
    position: relative;
    padding: $smallSectionSpacing;

    .logo {
        height: 4rem;
        width: 4rem;
        object-fit: contain;
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        transition: transform .2s ease-out;

        &:hover {
            transform: translateX(-50%) scale(1.05);
        }
    }

    .content {
        margin-top: .5rem;
        p {
            font-size: .875rem;
            font-weight: 700;

            a:hover {
                text-decoration: underline;
            }
        }

        .social_icons {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin: 0 auto;
            margin-top: 1rem;
            width: max-content;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .footer_container {
        width: 95%;
        margin: 0 auto;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .social_icons {
                margin: unset;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    footer {
        .star_bg {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 20rem;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .footer_container {
        width: 85%;
    }
}

@media only screen and (min-width: 1536px) {
    .footer_container {
        width: 80%;

        .logo {
            height: 4.5rem;
            width: 4.5rem;
        }
    }
}

@media only screen and (min-width: 1920px) {
    .footer_container {
        width: 72%;
    }
}