header {
    background: $primaryRed;
    color: $white;
    height: 5rem;
    z-index: 20;
    position: relative;
}

.header_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem;

    .logo_container {
        transform: translateY(.75rem);

        img {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
        }

        .club_name {
            display: none;
        }
    }
}

.header_nav {
    position: fixed;
    right: 0;
    top: 0;
    background: $primaryRed;
    padding: 2rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(calc(-100% - 5rem));
    transition: all .3s ease-out;
    width: 100%;

    &.active {
        transform: translateY(0);
    }

    .social_icons {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
    }
}

.nav_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    li {
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
    }
}

.burger {
    padding: .5rem;
    cursor: pointer;

    div {
        width: 2rem;
        height: 3px;
        background: $white;
        margin: .6rem 0;
        border-radius: 2rem;
        transition: all .1s ease-in;
    }
}

.burger.active {
    div {
        &:nth-child(1) {
            transform: translateY(.4rem) rotate(45deg);
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            transform: translateY(-0.4rem) rotate(-45deg);
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        background: unset;
    }
    .header_nav {
        width: 20rem;
    }
}

@media only screen and (min-width: 1024px) {
    .header_container {
        width: 95%;
        margin: 0 auto;
    }

    .header_nav {
        position: unset;
        transform: unset;
        flex-direction: row;
        padding: 0;
        background: unset;
        width: unset;
        gap: 4rem;

        .social_icons {
            margin-top: 0;
        }
    }

    .nav_links {
        flex-direction: row;
    }

    .burger {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .header_container {
        .logo_container {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;

            .club_name {
                margin-top: .25rem;
                display: block;

                h2 {
                    font-weight: 800;
                }

                h4 {
                    font-weight: 400;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    header {
        height: 6rem;
    }

    .header_container {
        width: 80%;

        .logo_container {
            img {
                width: 6rem;
                height: 6rem;
            }

            .club_name {
                margin-top: .5rem;
            }
        }
    }
}