header {
    background: $primaryRed;
    color: $white;
    height: 5rem;
    z-index: 20;
    position: relative;
}

.header_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem;

    .logo_container {
        transform: translateY(.75rem);

        img {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            transition: transform .2s ease-out;

            &:hover {
                transform: scale(1.05);
            }
        }

        .club_name {
            display: none;
        }
    }
}

.header_nav {
    position: fixed;
    right: 0;
    top: 0;
    background: $primaryRed;
    padding: 2rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(calc(-100% - 5rem));
    transition: all .3s ease-out;
    width: 100%;

    &.active {
        transform: translateY(0);
    }

    .social_icons {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
    }
}

.nav_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    li {
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
        transition: color .1s ease-out;
    }

    & > li:hover {
        color: #ecb9bb;
    }
}

.dropdown_menu {
    z-index: 20;
    display: none;
    margin-top: .25rem;
    background: $white;

    &.active {
        display: flex;
        flex-direction: column;
    }

    li {
        color: #000000;
        width: 100%;
        padding: .5rem;
        font-weight: 500;
        font-size: 1rem;
        text-transform: capitalize;

        &:not(:last-child) {
            border-bottom: 1px solid rgba($color: $primaryRed, $alpha: .05);
        }

        a {
            transition: color .1s ease-out;
        }
    }
}

.burger {
    padding: .5rem;
    cursor: pointer;

    div {
        width: 2rem;
        height: 3px;
        background: $white;
        margin: .6rem 0;
        border-radius: 2rem;
        transition: all .1s ease-in;
    }
}

.burger.active {
    div {
        &:nth-child(1) {
            transform: translateY(.4rem) rotate(45deg);
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            transform: translateY(-0.4rem) rotate(-45deg);
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        background: unset;
    }
    .header_nav {
        width: 20rem;
    }
}

@media only screen and (min-width: 1024px) {
    .header_container {
        width: 95%;
        margin: 0 auto;
    }

    .header_nav {
        position: unset;
        transform: unset;
        flex-direction: row;
        padding: 0;
        background: unset;
        width: unset;
        gap: 4rem;
        height: 100%;

        .social_icons {
            margin-top: 0;
        }
    }

    .nav_links {
        flex-direction: row;
        height: 100%;

        li {
            height: 100%;
            display: flex;
            align-items: center;

            &:hover {
                .dropdown_menu {
                    transform: translateY(1.5rem);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .dropdown_menu {
        padding: .75rem 0;
        position: absolute;
        top: 3rem;
        display: flex;
        flex-direction: column;
        transition: all .1s ease-out;
        transform: translateY(2.5rem);
        visibility: hidden;
        opacity: 0;
        background: $white;
        color: #000000;
        width: max-content;
        border-bottom: 4px solid $primaryRed;

        &::before {
            width: 0; 
            content: "";
            position: absolute;
            top: -8px;
            left: 1rem;
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 8px solid $white;
        }

        li {
            padding: .5rem 1rem;

            &:hover {
                color: $primaryRed;
            }
        }
    }

    .burger {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .header_container {
        .logo_container {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;

            .club_name {
                margin-top: .25rem;
                display: block;

                h2 {
                    font-weight: 800;
                }

                h4 {
                    font-weight: 400;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    header {
        height: 6rem;
    }

    .header_container {
        width: 80%;

        .logo_container {
            img {
                width: 6rem;
                height: 6rem;
            }

            .club_name {
                margin-top: .5rem;
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    .header_container {
        width: 70%;

        .logo_container {
            gap: 2rem;
        }
    }

    .header_nav {
        gap: 5rem;
    }
}