.matchArticle_main {
    background: $gray;
}

.main_content {
    background: $white;

    & > .header {
        padding: 2rem .75rem;

        .desc {
            display: flex;
            gap: 1.5rem;
            margin-bottom: 1rem;
        }

        h1 {
            color: $primaryRed;
            text-transform: uppercase;
            line-height: 1.25;
            font-weight: 800;
        }
    }


    .main_img {
        display: block;
        width: 93%;
        margin: 0 auto;
        height: auto;
        object-fit: cover;
    }

    & > .content {
        padding: 2rem .75rem;

        .annotation {
            font-weight: 700;
            margin-bottom: 1rem;
        }
    
        .typo {
            margin-bottom: 1.5rem;
        }
    }


    & > .footer {
        border-top: 2px solid $gray;
        padding: 1rem .75rem;
        padding-bottom: 2rem;

        .share {
            display: flex;
            align-items: center;
            gap: .25rem;

            span {
                display: block;
                margin-left: .5rem;
                text-transform: uppercase;
                font-weight: 800;
            }
        }
    }
}

.matchArticle_photogallery > a {
    margin-left: auto;
}

.matchArticle_photo_container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: .5rem;

    a {
        display: block;
        height: 120px;
        max-width: 190px;

        &.last {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                background: $primaryRed;
                opacity: .7;
            }

            h1 {
                position: absolute;
                color: $white;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.aside {
    padding: $smallSectionSpacing;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.aside_submenu {
    width: 400px;

    .cardWithShadow {
        width: 100%;
    }

    .submenu_links {
       li {
           padding: .5rem 0;

           &.highlighted {
               color: $primaryRed;
               font-weight: 700;
           }

           &:not(:last-child) {
              border-bottom: 1px solid rgba($color: $primaryRed, $alpha: .05);
           }

           &:last-child {
               padding-bottom: 0;
           }
       } 
    }
}

@media only screen and (min-width: 768px) {
    .main_content {
        & > .header, & > .content, & > .footer {
            padding: 2rem 3rem;
        }

        .main_img {
            height: 425px;    
        }
    }
    .aside {
        align-items: center;

        .more_news_container {
            flex-direction: column;
        }
    }  
}

@media only screen and (min-width: 1024px) {
    .mainAside_container {
        padding: 2rem .75rem;
        margin: 0 auto;
        width: 95%;
    }

    .main_content .main_img {
        width: 80%;
    }
}

@media only screen and (min-width: 1280px) {
    .mainAside_container {
        display: flex;
        gap: 2rem;
    }

    .main_content {
        height: max-content;
        width: 65%;

        .main_img {
            width: 100%;
        }
    }

    .aside {
        padding: 0;
        width: 35%;

        .hp_more_news {
            width: 100%;

            .article {
                width: 100%;
            }
        }

        .our_players_player .player_img {
            transform: translateY(1.5rem);
        }

        .cardWithShadow {
            width: 100%;
            padding: 1.5rem;
        }
    }

    .aside_submenu {
        width: 100%;
    }
}

@media only screen and (min-width: 1440px) {
    .mainAside_container {
        width: 80%;
    }

    .main_content .main_img {
        height: 480px;
    }
}

@media only screen and (min-width: 1920px) {
    .mainAside_container {
        width: 70%;
    }

    .main_content {
        .main_img {
            height: 560px;
        }
    }

    .matchArticle_photo_container {
        justify-content: space-between;
    }
}