.main_content.photogallery {
    padding: 2rem .75rem;
    padding-bottom: 2.5rem;
    height: max-content;

    h1 {
        color: $primaryRed;
        text-transform: uppercase;
        line-height: 1.25;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    .findPhotogallery {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;

        form {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: .5rem;
        }
    }
}

.photogalleries_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.pagination {
    margin-top: 2rem;
    display: flex;
    gap: .5rem;
    
    li {
        width: 2rem;
        height: 2rem;
        border: 1px solid $primaryRed;
        color: $primaryRed;
        font-weight: 600;
        transition: all .2s ease-out;
        cursor: pointer;

        &.active, &:hover {
            background: $primaryRed;
            color: $white;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .main_content.photogallery {
        padding: 2.5rem 3rem;
        padding-bottom: 2.5rem;
    }
}

@media only screen and (min-width: 1280px) {
    .main_content.photogallery {
        width: 63%;
    }

    .photogalleries_container .article {
        width: calc(50% - 1rem);
    }
}

