.main_content.player {
    padding: 2rem .75rem;
}

.player_header {
    background: $white;
    padding: 2rem .75rem;
}

.player_header_container {
    position: relative;
    width: 100%;

    .player_big {
        display: none;
    }
}

.player_header_content {
    position: relative;
    z-index: 5;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(227, 6, 19, 0.05);

    .player_small {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        margin-bottom: .5rem;
    }

    .content {
        .numName {
            text-align: center;

            .num {
                color: $primaryRed;
                font-size: 4rem;
                font-weight: 800;
            }

            & > div {
                span {
                    background: $primaryRed;
                    color: $white;
                    padding: .25rem .5rem;
                    text-transform: uppercase;
                    font-size: .75rem;
                    font-weight: 600;
                    display: block;
                    width: max-content;
                    margin: 0 auto;
                    margin-bottom: .5rem;
                }

                h1 {
                    font-weight: 800;
                }
            }
        }

        .desc {
            margin-top: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem 2rem;

            & > div {
                text-align: center;

                span {
                    color: $primaryRed;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                h5 {
                    font-weight: 400;
                    margin-top: .25rem;
                }
            }
        }
    }
}

.player_menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;

    li {
        font-size: 1.125rem;
        font-weight: 800;
        text-transform: uppercase;
        color: $primaryRed;
        padding-bottom: .25rem;
        cursor: pointer;

        &.active {
            border-bottom: 2px solid $primaryRed;
        }
    }
}

.player_tab {
    display: none;
    padding: 1rem 0;

    &.active {
        display: flex;
        animation: playerTabAnimation .4s;
    }
}

.player_stats {
    flex-direction: column;

    & > div:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.player_articles {
    flex-wrap: wrap; 
    gap: 2rem;
}

@media only screen and (min-width: 768px) {
    .player_header_container {
        height: 50vh;
        display: flex;

        .player_big {
            display: block;
            position: absolute;
            inset: 0;    
            width: 100%;
            height: 100%;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(180deg, rgba(#000000, 0) 0%, rgba(#000000, 1) 100%);
                transition: all .2s ease-out;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .player_header_content {
        display: flex;
        align-items: flex-end;
        padding: 2rem;
        color: $white;
        gap: 2rem;

        .player_small {
            margin-bottom: 0;
        }

        .content {
            .numName {
                display: flex;
                align-items: flex-end;
                gap: 1rem;

                .num {
                    line-height: .85;
                }

                & > div {
                    span {
                        margin: .5rem 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .player_header {
        background: unset;
        padding-bottom: 0;
    }

    .player_header_container {
        width: 95%;
        margin: 0 auto;
    }

    .main_content.player {
        padding: 2rem;
    }
}

@media only screen and (min-width: 1280px) {
    .player_header_container {
        height: 65vh;
    }

    .player_header_content {
        padding: 4rem;
    }

    .player_articles .article {
        width: calc(50% - 1rem);
    }
}

@media only screen and (min-width: 1440px) {
    .player_header_container {
        width: 85%;
    }
}

@media only screen and (min-width: 1536px) {
    .player_header_container {
        width: 80%;
    }
}

@media only screen and (min-width: 1920px) {
    .player_header_container {
        width: 72%;
    }
}

@keyframes playerTabAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
