.main_content.text {
    padding: 2rem .75rem;
    padding-bottom: 2.5rem;
    height: max-content;

    h1 {
        color: $primaryRed;
        text-transform: uppercase;
        line-height: 1.25;
        font-weight: 800;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .main_content.text {
        padding: 2.5rem 3rem;
        padding-bottom: 2.5rem;
    }
}

@media only screen and (min-width: 1280px) {
    .main_content.text {
        width: 65%;
    }
}

