@import './variables';
@import './globals';
@import './header';
@import './footer';
@import './hp';
@import './aside';
@import './matchArticle';
@import './text';
@import './matches';
@import './roster';
@import './player';
@import './partners';
@import './photogallery';